.blur a {
	pointer-events: none;
	-webkit-filter: blur(5px) !important;
	filter: blur(5px) !important;
}

.blur img {
	-webkit-filter: blur(5px) !important;
	filter: blur(5px) !important;
}

.blur {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

